.highlighter-active ::selection {
  background-color: transparent;
}

.highlight {
  position: absolute;
  background: rgba(255, 255, 0, 0.5);
  color: black;
  border-radius: 20%;
  /* padding: 0 2px; */
  pointer-events: none;
  z-index: 999999;
  mix-blend-mode: multiply;
  /* opacity: 0.5; */
}