.highlighter-active ::selection {
  background-color: transparent;
}

.highlighter-active * {
  cursor: none !important;
}

.highlighter-active a,
.highlighter-active button,
.highlighter-active input,
.highlighter-active textarea,
.highlighter-active select,
.highlighter-active [role="button"] {
    pointer-events: none !important;
}

.highlighter-active #highlighter-toolbar,
.highlighter-active #highlighter-toolbar * {
  pointer-events: auto !important;
  cursor:pointer !important;
}

.highlight {
  position: absolute;
  color: black;
  border-radius: 10px;
  pointer-events: var(--highlights-selectable, none);
  z-index: 0;
  opacity: 0.75;
}

.cursor {
  display: none;
  pointer-events: none;
  position: fixed;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background-color: #ffff0050;
  transform: translate(-50%, -50%); /* center circle */
  transform-origin: top left;

}

.cursor.action-icons::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 8px;
  height: 8px;
  background-image: url("images/delete.png");
  z-index: 0;
}
.cursor.action-icons::after {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  width: 8px;
  height: 8px;
  background-image: url("images/copy.png");
  z-index: 0;
}

#highlighter-toolbar {
  position: fixed;

  top: 20px;
  right: 20px;
  border: 2px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 5px;
  width: 50px;
  background: seashell;/* idk */
  border-radius: 25px;
  z-index: 999999;

  user-select: none;
  cursor: grab;
  backdrop-filter: blur(8px);
}

#highlighter-toolbar:active {
  cursor:grabbing
}

#highlighter-toolbar.hidden {
  display: none;
}

#highlighter-toolbar button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  background: lightblue;
  color: white;
  transition: transform 0.15s ease;
}

#highlighter-toolbar button:hover {
  transition: scale(1.1);
}

#highlighter-toolbar .colors {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#highlighter-toolbar .color-button {
  color: black;
  font-size: 12px;
  font-weight: bold;
}

#highlighter-toolbar [data-action="add-color"] {
  font-size: 24px;
  line-height: 1;
}

#highlighter-toolbar.collapsed {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 0;
  gap: 0;
  justify-content: center;
  align-items: center;
}

#highlighter-toolbar.collapsed .colors,
#highlighter-toolbar.collapsed button:not(.logo) {
  display: none;
}

#highlighter-toolbar .logo {
  background-image: url(images/icon-48.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}